<div class="flex flex-col items-center justify-center min-h-full bg-cover bg-center p-8" style="background-image: url('/assets/images/background-cta.webp'); background-attachment: fixed;">
    <div class="p-8 bg-base-100 bg-opacity-25 rounded-xl shadow-lg text-center w-full max-w-full mx-2">
        <h1 class="text-4xl font-bold mb-4">Call to Action (CTA)</h1>
        <p class="text-lg mb-8">Be part of our community and enjoy exclusive benefits.</p>
        <a href="https://github.com/join" target="_blank" rel="noopener noreferrer" class="btn btn-wide glass">Sign Up Now</a>
    </div>
</div>
