<div class="flex flex-col items-center justify-center bg-cover bg-center p-8" style="background-image: url('/assets/images/background-cta.webp'); background-attachment: fixed;">
  <div class="p-8 bg-base-200 bg-opacity-75 rounded-xl shadow-2xl text-center w-full max-w-screen-lg mx-auto">
    <h3 class="text-5xl md:text-6xl font-extrabold mb-6 text-primary">Call to Action</h3>
    <p class="text-xl md:text-2xl mb-8 text-neutral-content">Be part of our community and enjoy exclusive benefits.</p>
    <div class="flex justify-center">
      <a href="https://github.com/join" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-wide text-lg md:text-xl uppercase flex justify-center items-center"> Sign Up Now <i class="fa-solid fa-arrow-right ml-2"></i>
      </a>
    </div>
  </div>
</div>