<div class="bg-gradient-to-r from-primary-700 to-primary-600">
  <div class="container mx-auto px-6 py-16">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <!-- Bagian kiri -->
      <div class="text-center">
        <h1 class="text-5xl font-bold mb-6">Welcome to <span class="text-primary">@idugeni</span>
        </h1>
        <p class="text-lg text-center mb-8">GitHub Pages is a free hosting service from GitHub that can be used to host a website's static code. With GitHub Pages, you can use GitHub repositories to store your website code and files, and GitHub will automatically publish them as a website that you can access online.</p>
        <div class="flex flex-col md:flex-row gap-4 justify-center md:my-8">
          <a class="btn btn-neutral btn-wide flex items-center justify-center w-full sm:w-auto">
            <i class="fa-duotone fa-rocket-launch fa-lg mr-2"></i>Get Started</a>
          <a class="btn btn-ghost btn-wide border border-neutral flex items-center justify-center w-full sm:w-auto"><pre data-prefix="$"><code>npm i idugeni@latest</code></pre><i class="fa-duotone fa-copy fa-lg ms-2"></i>
          </a>
        </div>
        <a class="btn glass flex items-center justify-center mt-4">Installation guide<i class="fa-duotone fa-arrow-right-to-bracket ms-2"></i>
        </a>
      </div>
      <!-- Bagian kanan (gambar) -->
      <div class="flex justify-center md:justify-end">
        <img src="https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.jpg" alt="Beautiful Image" class="h-64 md:h-auto rounded-lg shadow-lg">
      </div>
    </div>
  </div>
</div>